* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
main{
	margin: 50px auto;
	width: 960px;
}
.step{
	width: 300px;
	float: left;
	border:1px solid #eee;
	position: relative;
	margin-right: 30px;
	padding: 10px;
}
.step:last-child{
	margin-right: 0 ;
}
.title{
	background-color: orange;
	position: absolute;
	color: white;
	padding: 3px;
	top: 0;
	left: 0;
}
.subtitle{
	margin: 15px 0 5px;
}
.pic1{
	background-image: url("flow01.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.pic2{
	background-image: url("flow02.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.pic3{
	background-image: url("flow03.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}


@media screen and (max-width: 768px) { 
	main{
		width: 100%;
	}
	.step{
		margin: 0 auto 20px;
		float: none;
		width: 90%;
	}
	.step:last-child{
		margin: 0 auto;
	}

}